@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');

.error {
    display: inline-block;
    width: 20vw;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-bottom: 20px;
    padding: 15px 10px;
    border: 1px solid #e25553;
    color : #790505;
    background-color: #ee8b8a;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

.error button {
    color: #790505;
    background-color: transparent;
    border: 0px;
    float: right;
    font-size: 14pt;
    margin: 0px;
    margin-top: -5px;
    padding: 0px;
}

.error button:hover {
    cursor: pointer;
}

form {
    display: inline-block;
    width: 20vw;
    margin-left: 40vw;
    margin-right: 40vw;
    padding: 15px 10px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d4d4d4;
    font-weight: 500;
}

label {
    display: block;
}

input[type="text"], input[type="password"] {
    margin-top: 5px;
    margin-bottom: 12px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    width: calc(100% - 25px);
}

button[type="submit"] {
    width: 100%;
    padding: 10px 15px;
    border: 0px;
    border-radius: 50px;
    background-color: #1976d2;
    color: #fff;
    font-weight: 700;
    font-size: 13pt;
    transition: background-color .2s linear;
}

button[disabled], button.disable {
    background-color: #9db9d5;
    transition: background-color .2s linear;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}