<div id="notification" class="error" [style.display]="!wrongCreds? 'none': 'block'">
    Identifiants faux !
    <button type="button" (click)="closeError();">x</button>
</div>

<form class="login-form" (submit)="onSubmit()" #loginForm="ngForm">
    <h1>Se connecter</h1>
    <label for="username">Nom d'utilisateur</label>
    <input type="text" class="field" id="username" required [(ngModel)]="model.username" name="username" />
    <label for="password">Mot de passe</label>
    <input type="password" class="field" id="password" required [(ngModel)]="model.password" name="password" />
    <button type="submit" [disabled]="!loginForm.form.valid">Valider</button>
</form>